---
const defaultLang = "de";
---

<!doctype html>
<html lang={defaultLang}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=/${defaultLang}/`} />
    <link rel="canonical" href={`/${defaultLang}/`} />
    <meta name="robots" content="noindex" />
    <title>Weiterleitung...</title>
  </head>
  <body>
    <p>
      Weiterleitung zur deutschen Version...
      <a href={`/${defaultLang}/`}>Hier klicken</a>.
    </p>
  </body>
</html>