---
import BaseLayout from "@/layouts/BaseLayout.astro";

const metadata = {
  title: "Legal Notice",
};
---

<BaseLayout {metadata}>
<section class="mx-auto max-w-4xl px-4 py-16 text-base md:text-lg leading-relaxed space-y-10">

    <!-- Title -->
    <h1 class="text-4xl md:text-5xl font-extrabold text-foreground">
      Privacy
    </h1>
    <p class="text-justify mb-6 text-muted-foreground">
      Thank you for visiting our website www.mbt-systems.de and for your interest in our company and our services. Despite careful control 
      of the content, we accept no liability for external links to third-party content, as we did not initiate the transmission of this 
      information and did not select or change the addressee of the transmitted information or the transmitted information itself.
    </p>
    <p class="text-justify mb-6 text-muted-foreground">
      The protection of your personal data when it is collected, processed and used during your visit to our website is important to us and 
      is carried out in accordance with the statutory provisions, which you can find out about at 
      <a href="https://www.bfdi.bund.de" target="_blank" rel="noopener noreferrer" class="underline hover:text-primary">
        www.bfdi.bund.de
      </a>, for example
    </p>
    <p class="text-justify mb-6 text-muted-foreground">
      Below we explain what information we collect during your visit to our website and how it is used:
    </p>
    
    <!-- Collection and Storage of Personal Data and the Nature and Purpose of its Use -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Collection and Storage of Personal Data and the Nature and Purpose of its Use</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        Each time a customer (or other visitor) accesses our website, the Internet browser used on your device (computer, laptop, tablet, 
        smartphone, etc.) automatically sends information to our website’s server. This information is temporarily stored in a log file.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        The following data is collected without any action on your part and stored until it is automatically deleted
      </p>
      <ol class="text-justify list-disc pl-6 space-y-2 marker:font-semibold">
        <li>
          (Pseudonymised) IP address of the requesting computer, as well as device ID or individual device ID and device type
        </li>
        <li>
          Name of the retrieved file and amount of data transferred, as well as the date and time of retrieval
        </li>
        <li>
          Notification of successful retrieval
        </li>
        <li>
          Requesting domain
        </li>
        <li>
          Description of the type of Internet browser used and, if applicable, the operating system of your end device as well as the name of your access provider
        </li>
        <li>
          Your browser history data and your standard weblog information
        </li>
      </ol>
      <p class="text-justify mb-6 text-muted-foreground">
        We do not collect any location data ourselves. However, we would like to point out that a rough location can always be determined from the IP address - 
        although we do not commission any third-party providers to do so.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        Our legitimate interest pursuant to Art. 6 Abs. 1 S. 1 lit. f DSGVO for the collection of data is based on the following purposes:
      </p>
      <ol class="text-justify list-disc pl-6 space-y-2 marker:font-semibold">
        <li>
          Ensuring a smooth connection setup and convenient use of the website
        </li>
        <li>
          Evaluation of system security and stability
        </li>
        <li>
          Other administrative purposes
        </li>
      </ol>
      <p class="text-justify mb-6 text-muted-foreground">
        Under no circumstances do we use the data collected for the purpose of drawing conclusions about your person.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        The above-mentioned data will be deleted after you leave the website.
      </p>
    </div>


    
    <!-- Transfer of Personal Data -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Transfer of Personal Data</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        Your data will not be transferred to third parties for purposes other than those listed below.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        We only pass on your data to third parties if:
      </p>
      <ol class="text-justify list-disc pl-6 space-y-2 marker:font-semibold">
        <li>
          You have given your express consent to this in accordance with (Art. 6 Abs. 1 S. 1 lit. a DSGVO)
        </li>
        <li>
          This is necessary for the processing of contractual relationships with you (Art. 6 S. 1 Abs. 1 lit. b DSGVO)
        </li>
        <li>
          There is a legal obligation to disclose (Art. 6 Abs. 1 S. 1 lit. c DSGVO)
        </li>
        <li>
          The disclosure is required for the establishment, exercise or defence of legal claims and there is no reason to assume that you have an overriding 
          legitimate interest in the non-disclosure of your data (Art. 6 Abs. 1 S. 1 lit. f DSGVO)
        </li>
      </ol>
      <p class="text-justify mb-6 text-muted-foreground">
        In these cases, however, the scope of the data transmitted is limited to the minimum necessary.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        Our data protection provisions are in accordance with the applicable data protection regulations and the data is only processed in the Federal 
        Republic of Germany. However, we also work with third-party providers who may process the data outside the EU. All third-party providers with whom 
        we work are listed in our privacy policy.
      </p>
    </div>

    <!-- Rights of Data Subjects -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Rights of Data Subjects</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        On request, we will be happy to inform you whether and which personal data relating to you is stored (Art. 15 DSGVO), in particular about the processing 
        purposes, the category of personal data, the categories of recipients to whom your data has been or will be disclosed, the planned storage period, the 
        existence of a right to rectification, erasure, restriction of processing or objection, the existence of a right to lodge a complaint, the origin of your 
        data if it was not collected by us, and the existence of automated decision-making including profiling.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        You also have the right to have any incorrectly collected personal data corrected or incompletely collected data completed (Art. 16 DSGVO).
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        Furthermore, you have the right to demand that we restrict the processing of your data, provided that the legal requirements for this are met (Art. 18 DSGVO).
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
       You have the right to receive the personal data concerning you in a structured, commonly used and machine-readable format or to request that it be 
       transmitted to another controller (Art. 20 DSGVO).
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
       In addition, you have the so-called ‘right to be forgotten’, i.e. you can demand that we erase your personal data, provided that the legal requirements 
       for this are met (Art. 17 DSGVO).
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
       Irrespective of this, your personal data will be automatically deleted by us if the purpose of the data collection no longer applies or the data processing 
       has been carried out unlawfully.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
       In accordance with Art. 7 Abs. 3 DSGVO, you have the right to revoke your consent to us at any time. As a result, we are no longer permitted to continue the data 
       processing based on this consent in the future.
      </p>
      <p class="text-justify mb-6 text-muted-foreground font-bold">
         You also have the right to object to the processing of your personal data at any time, provided that a right of objection is provided for by law. In the event of a 
         justified objection, your personal data will also be automatically deleted by us (Art. 21 DSGVO).
      </p>
      <p class="text-justify mb-6 text-muted-foreground font-bold">
       If you wish to exercise your right of cancellation or objection, simply send an email to: <a
        href="info@mbt-systems.de"
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary hover:underline"
      >info@mbt-systems.de</a>
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
       In the event of violations of data protection regulations, you have the right to lodge a complaint with the competent supervisory authority in accordance with Art. 
       77 DSGVO. The competent supervisory authority is the Bayerische Landesbeauftragte für den Datenschutz as well as any other supervisory authority.
      </p>
    </div>

    <!-- Duration of Data Storage -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Duration of Data Storage</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        The data collected will be stored by us for as long as is necessary for the fulfilment of the contracts entered into with us or as long as you have not exercised 
        your right to erasure or your right to data portability to another company.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        Java applets and Java script are used to provide our website. If you do not wish to use these auxiliary programmes or active content for security reasons, you 
        should deactivate the corresponding setting in your browser.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        Flash and HTML5: We and certain third parties may also use certain tracking technologies known as ‘Flash cookies’, which are integrated into HTML5, mainly for 
        advertising purposes. Some browsers may use their own management tools to remove or block such technologies. You can find more information on how to deal with 
        Flash cookies here: <a
        href="www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html"
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary hover:underline"
      >www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html</a>
      . Please note that this website is not provided by Wix, so we cannot guarantee its accuracy, completeness and availability.
      </p>
    </div>

    <!-- Data Security -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Data Security</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        We take all necessary technical and organisational security measures to store your personal data in such a way that it is not accessible to third parties or the 
        public. Should you wish to contact us by e-mail, we would like to point out that the confidentiality of the information transmitted cannot be fully guaranteed 
        by this means of communication. We therefore recommend that you only send us confidential information by post.
      </p>
    </div>

    <!-- Up-to-Dateness and Amendment of this Privacy Policy -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Up-to-Dateness and Amendment of this Privacy Policy</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        This privacy policy is currently valid and is dated <b>12.06.2026</b>.
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        Due to the further development of our website and offers on it or due to changed legal or official requirements, it may become necessary to change this data 
        protection declaration.
      </p>
    </div>
    
    <!-- Name and Contact Details of the Controller and the Data Protection Officer -->
    <div>
      <h2 class="text-2xl font-bold mt-12 mb-6">Name and Contact Details of the Controller and the Data Protection Officer</h2>
      <p class="text-justify mb-6 text-muted-foreground">
        This data protection information applies to data processing by
      </p>
      <p class="text-justify mb-6 text-muted-foreground">
        <b>MBT Mechatronic Bot Technologies GmbH</b> </br>
        Dieselstraße 11 </br> 85757 Karlsfeld </br> Germany </br> Tsaschikher Noov
      </p>
    </div>

  </section>
</BaseLayout>